/* GERAL */

html, body {
  font-family: 'Lato', sans-serif;
  letter-spacing: -0.02em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sobre, .blog, .postagens, .projetos {
  padding: 0 24px;
}

.btn-padrao {
  background: #212121;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  display: block;
  width: 135px;
  margin: 42px auto 72px;
  min-width: 150px;
}

.btn-padrao:hover {
  color: white;
  text-decoration: none;
  background: red;
}

.container-wrapper {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 20px;
}

p {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sobre h2, .projetos h2, .blog h2 {
  font-weight: 800;
  font-size: 34px;
  text-align: center;
  margin-bottom: 24px;
}



/* HEADER */

@media(min-width:1200px){
  .nav-desk {
    justify-content: end;
  }
}

/* TOPO */

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 80px auto 60px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border: 2px solid #333333;
}

.foto img {
  width: 100%;
  height: 100%;
}

.topo h1 {
  font-weight: 800;
  font-size: 34px;
}

/* SOBRE MIM */

.sobre h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.sobre h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}

.sobre h4:first-child {
  margin-top: 0 !important;
}

.habilidades i {
  margin-left: 20px;
}

.habilidades i {
  font-size: 10px;
  margin-right: 5px;
  color: red;
}

/* PROJETOS */

.projetos {
  margin-top: 50px;
  text-align: center;
}

.projetos img {
  max-width: 350px;
  border: 2px #55565A solid;
}

.projetos h3 {
  margin-top: 30px;
}

@media(max-width:976px){
  .projetos p {
    text-align: left;
  }
  .projetos img {
    width: 100%;
  }
}

.projetos i {
  font-style: normal;
}

.projetos a:hover {
  text-decoration: none;
}

/* Page: PROJETOS */




/* BLOG */

.posts a {
  text-decoration: underline;
  color: #000000;
}

.posts a:hover, .posts p:hover {
  color: red;
}

@media(max-width:976px){
  .posts {
    text-align: left !important;
  }
}

/* SINGLE BLOG */

article, .blog-posts {
  padding: 70px 0 !important;
}

article img {
  width: 100%;
}

@media(max-width:767px){
  .blog-posts, article {
    padding: 30px 15px !important;
  }
}

/* FOOTER */

footer {
  height: 73px;
  background-color: #323232;
  text-align: center;
  margin-top: auto;
}

footer p {
  color: white !important;
  margin-bottom: 0;
  padding: 27px 0;
}